	<div>
    <div ng-show="mainCtrl.updateOneRecipe">
    Update Recipe <br>

  	Recipe Name:<br>
  	<input type="text" name="name" ng-model="updateCtrl.name"><br>

  	Image:<br>
  	<input type="text" name="image" ng-model="updateCtrl.image"><br>

  	Duration (in seconds): <br>
  	<input type="text" name="duration" ng-model="updateCtrl.duration"><br>

  	Difficuly:<br>
  	<select name="difficulty" ng-model="updateCtrl.difficulty">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="4">5</option>
	</select><br>

  	Categories (separated by ,):<br>
  	<input type="text" name="categories" ng-model='updateCtrl.categories'><br>

  	Ingredients (separated by ,):<br>
  	<input type="text" name="ingredients" ng-model='updateCtrl.ingredients'><br>

  	Steps:
  	 <div ng-repeat="step in updateCtrl.steps">
  	 	Step {{ 1 + $index}} :
  	 	Description: <input type="text" name="steps" ng-model='updateCtrl.steps[$index].description'> 
  	 	Timer: <input type="text" name="steps" ng-model='updateCtrl.steps[$index].timer'>
  	 	ImageURL: <input type="text" name="steps" ng-model='updateCtrl.steps[$index].img'><br>
  	 </div>

  	 <button type="button" ng-click="updateCtrl.addStep()">Add step</button><br>
     <button type="button" ng-click="updateCtrl.removeStep()">Remove Step</button><br>
  	 <br>
  	 <button type"button" ng-click="updateCtrl.submitRecipe()"> Update Recipe </button><br>
  </div>
<div>