<ion-view view-title="Login & Sign Up">
<ion-content>
<div class="login-page"><br>
<h1>Sign Up</h1>
<div ng-controller="LoginCtrl as loginCtrl">
	<form ng-submit="loginCtrl.createAccount()">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Full name" ng-model="loginCtrl.createData.name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Username" ng-model="loginCtrl.createData.username">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="loginCtrl.createData.password">
			</label>
			<label class="item item-input">
				<input type="email" placeholder="Email" ng-model="loginCtrl.createData.email">
			</label>
		</div>
		<p class="error-text">{{errorTxt}}</p>
		<button class="button button-block button-energized" type="submit">Sign up</button>
	</form>
</div>
</div>
</ion-content>
</ion-view>