<ion-view view-title="Forgotten Password">
<ion-content>
<div class="login-page"><br>
<h2>Forgotten Password</h2>
<div ng-controller="LoginCtrl as loginCtrl">
	<form ng-submit="loginCtrl.forgotPass()">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="email" placeholder="Email" ng-model="loginCtrl.createData.email">
			</label>
		</div>
		<p class="error-text">{{errorTxt}}</p>
		<button class="button button-block button-energized" type="submit">Send My Password!</button>
	</form>
</div>
</div>
</ion-content>
</ion-view>