<ion-view view-title="Forgotten Password">
<ion-content>
<div class="pagelayout"><br>
<h2>Forgotten Password</h2>
<div ng-controller="ForgotPassCtrl as forgotPassCtrl">
	<form ng-submit="forgotPassCtrl.resetPass()">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Username" ng-model="forgotPassCtrl.resetData.username">
			</label>
			<label class="item item-input">
				<input type="email" placeholder="Email" ng-model="forgotPassCtrl.resetData.email">
			</label>
		</div>
		<p class="error-text">{{errorTxt}}</p>
		<button class="button button-block button-energized" type="submit">Send My Password!</button>
	</form>
</div>
</div>
</ion-content>
</ion-view>