<ion-view view-title="Login">
<ion-content>
<div class="pagelayout"><br>
<h1>Login</h1>
<div ng-controller="LoginCtrl as loginCtrl">
	<form ng-submit="loginCtrl.login()">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Username" ng-model="loginCtrl.loginData.username">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="loginCtrl.loginData.password">
			</label>
		</div>
		<div class="list list-inset">
		  <li class="item item-toggle">
			Save username
			<label class="toggle toggle-energized">
			<!-- Force username to appear true when rememberMe is on -->
			<div ng-switch="settings.rememberMe">
			<input ng-switch-when="true" type="checkbox" disabled checked>
			<input ng-switch-default type="checkbox" ng-model="settings.saveUsername">
			<div class="track"><div class="handle"></div></div>
			</div>
			</label>
		  </li>
		  <li class="item item-toggle">
			Remember me
			<label class="toggle toggle-energized">
			<input type="checkbox" ng-model="settings.rememberMe">
			<div class="track"><div class="handle"></div></div>
			</label>
		  </li>
		</div>
		<p class="error-text">{{loginStatus.error}}</p>
		<button class="button button-block button-energized" type="submit">Log in</button>
	</form>
	<br>
	<a class="login-links" nav-direction="forward" href="#/app/login/create_account">Sign Up!</a><br><br>
	<a class="login-links" nav-direction="forward" href="#/app/login/forgot_password">Forgot password?</a>
</div>
</div>
</ion-content>
</ion-view>
