<ion-view view-title="Account & Settings">
<ion-content>
<div class="settings-page">
<div ng-controller="ProfileCtrl as profileCtrl">
	<div id="welcomebar" class="row">
		<div class="col col-33">
			<img src="res/img/logo-3.jpg" width="100px" class="profile-image">
		</div>
		<div class="col">
			<h2>Hi, <br> {{accountInfo.name}}!</h2>
		</div>
	</div>
	<div id="email" class="row">{{accountInfo.email}}</div>
	
<div class="list">
		  <li class="item item-toggle">
			Notifications
			<label class="toggle toggle-energized">
			<input type="checkbox" ng-model="settings.notification.value">
			<div class="track"><div class="handle"></div></div>
			</label>
		  </li>
		  <li class="item item-toggle">
			Voice Recognition
			<label class="toggle toggle-energized">
			<input type="checkbox" ng-model="settings.voiceRecog.value">
			<div class="track"><div class="handle"></div></div>
			</label>
		  </li>
		  <li class="item item-toggle">
			Local Storage
			<label class="toggle toggle-energized">
			<input type="checkbox" ng-model="settings.localStor.value">
			<div class="track"><div class="handle"></div></div>
			</label>
		  </li>
      <label class="item item-divider">Legal</label>
      <label class="item">Terms of Use</label>
      <label class="item">Privacy Policy</label>
</div>
<button class="button button-block button-energized" ng-hide="!status.code" ng-click="profileCtrl.logout()">Log out</button>
</div>
</div>
</ion-content>
</ion-view>
	
	