<ion-view view-title="Recipe"> <!-- Can we make it show recipe title here? -->
<ion-content>
<div class="pagelayout"><br>
	
<div ng-controller="RecipeCtrl as recipeCtrl">
		
	<div id="recipe-title-img" class="row">
	  <div class="col" ng-show="{{recipeImageAvailable}}"><img width="100px" ng-src="{{recipeImage}}"/></div>
	  <div class="col"><h2>{{recipe.name}}</h2></div>
	</div>
	
	<div id="ingredientslist-container" ng-show="(currentPage == 0)">
		<form>
		<div ng-repeat="ingredients in recipe.ingredients">
			<ion-checkbox ng-model="checked[$index]">{{ingredients}}</ion-checkbox>
		</div>
		</form>
	</div>
			
	<div id="page-container" ng-show="(currentPage != 0) && (currentPage != (recipe.steps.length + 1))">

		<div id="timer" class="row" ng-show="displayTimer">
		<div class="col">
			<div id="clockdiv">
				<div>
					<span class="hours">{{timerHours}}</span>
					<div class="smalltext">Hours</div>
				</div>
				<div>
					<span class="minutes">{{timerMinutes}}</span>
					<div class="smalltext">Minutes</div>
				</div>
				<div>
					<span class="seconds">{{timerSeconds}}</span>
					<div class="smalltext">Seconds</div>
				</div>
			</div>
			<button class="button button-icon icon ion-ios-stopwatch-outline" ng-click="recipeCtrl.toggleTimer()"> {{timerButton}}</button>
			<button class="button button-icon icon ion-ios-reload" ng-click="recipeCtrl.restartTimer()"> Restart</button>
		</div>
		</div>

		<div id="instructions-container" class="row">
		  <div class="col">
				{{currentDescription}}
		  </div>
		</div>
		
		<div><img class="recipeimage" ng-src="{{currentImage}}" ng-show="imageAvailable"></div>
		
	</div>
	
	<div ng-show="currentPage == (recipe.steps.length + 1)">
		{{ratingDescription}}<br>
		<div style='display: inline-block; padding: 5px; cursor:pointer;' ng-repeat='idx in ratings track by $index'>
            <img height="30px" ng-src="{{imageSource[$index + 1]}}" ng-Click='recipeCtrl.rate($index + 1)'>
        </div>
	</div>

	<div id="nav-buttons" class="row">
	  <div class="col col-33">
		<form ng-click="recipeCtrl.back()">
		<button class="button button-outline icon ion-ios-arrow-back" ng-show="currentPage > 0"></button>
		</form>
	  </div>
	  <div class="col col-33 col-offset-33">
	  	<form ng-click="recipeCtrl.next()">
		<button class="button button-outline icon ion-ios-arrow-forward" ng-show="currentPage < (recipe.steps.length + 1)"></button>
		</form>
	  </div>  
	</div>
</div>
</div>
</ion-content>
</ion-view>