<ion-view view-title="Recipe Search">
<ion-content>
<div class="search-page"><br>
    <center><h1>Recipe Search</h1></center>

    <div ng-controller="SearchCtrl as searchCtrl">
        <form ng-submit="searchCtrl.search()">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="searchCtrl.searchInput"></input>
                </label>
                <div ng-switch="searching.value">
                <button ng-switch-when="true" class="button button-block button-dark" disabled>Please wait...</button>
                <button ng-switch-default class="button button-block button-energized" type="submit">Search</button>
                </div>
			</div>
        </form>
        <div id="searchlist" align="center" class="row">
				<div class="col">
					<button class="button button-small button-clear">Sort By</button>
				</div>
				<div class="col">
					<button class="button button-small button-clear ion-ios-star-outline" ng-click="searchCtrl.sortRating()"> Rating</button>
				</div>
				<div class="col">
					<button class="button button-small button-clear ion-ribbon-b" ng-click="searchCtrl.sortDifficulty()"> Difficulty</button>
				</div>
		</div>
		
         <!-- Dynamic search results -->
        <div id="searchlist" ng-repeat="result in searchResults">
            <div class='row row-center'>
                <div>
                    <button ng-class="{'button button-icon icon ion-ios-heart': result.isFavorite, 'button button-icon icon ion-ios-heart-outline': !result.isFavorite }" ng-click='searchCtrl.onFavoriteToggle(result)'></button>
                </div>
				<div class="col">
					<a class="item item-thumbnail-right" ng-click="searchCtrl.onRecipeSelect(result)">
						<img src="{{result.image}}"/>
						<center><br>
						<h3>{{result.name}}</h3>
						<p>Rating: {{result.rating.rating}}<br>
						   Difficulty: {{result.difficulty}}</p>
						</center>
					</a>
				</div>
            </div>
        </div>
    </div>
</div>
</ion-content>
</ion-view>