<ion-view view-title="Recipe Search">
<ion-content>
<h1>Recipe Search</h1>
<form ng-submit="search()">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchInput"></input>
    </label>
    <button class="button button-block button-energized" type="submit">Search</button>

    <!-- Dynamic search results -->
    <div id="searchresults">
    </div>

  <!-- 
     var myTable= "<table><tr><td style='width: 120px; cell-padding:5px;'>Recipe</td>";
        myTable+= "<td style='width: 50px; text-align: right;'>Difficulty</td>";
        myTable+="<td style='width: 50px; text-align: right;'>Select</td></tr>";

        myTable+="<tr><td style='width: 120px;                  '></td>";
        myTable+="<td     style='width: 50px; text-align: right;'></td>";
        myTable+="<td     style='width: 50px; text-align: right;'></td></tr>";
    -->
</div>
</form>
</ion-content>
</ion-view>

