<ion-view view-title="Recipe Search">
<ion-content>
<div class="search-page"><br>
<h1>Recipe Search</h1>

<div ng-controller="SearchCtrl as searchCtrl">
    <form ng-submit="searchCtrl.search()">
        <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="searchCtrl.searchInput"></input>
        </label>
        <button class="button button-block button-energized" type="submit">Search</button>
  <!-- 
     var myTable= "<table><tr><td style='width: 120px; cell-padding:5px;'>Recipe</td>";
        myTable+= "<td style='width: 50px; text-align: right;'>Difficulty</td>";
        myTable+="<td style='width: 50px; text-align: right;'>Select</td></tr>";
        myTable+="<tr><td style='width: 120px;                  '></td>";
        myTable+="<td     style='width: 50px; text-align: right;'></td>";
        myTable+="<td     style='width: 50px; text-align: right;'></td></tr>";
    -->
        </div>
    </form>
    <!-- Dynamic search results -->
        <div class='row'>
            <div class='col col-67'>Recipe</div>
            <div class='col'>Difficulty</div>
            <div class='col'>Select</div>
        </div>
        <div ng-repeat="result in searchResults">
            <div class='row'>
                <div class='col col-67'>{{result.name}}</div>
                <div class='col'>{{result.difficulty}}</div>
                <div class='col'><button onclick='onRecipeSelect()'>Select</button></div>
            </div>
        </div>
</div>
</div>
</ion-content>
</ion-view>